root=true

[*]
end_of_line = lf
insert_final_newline = true

# format common editable files
[*.{js,ts,tsx,jsx,css,scss,json}]
indent_size = 2
indent_style = space

# format configuration files
[.*rc]
indent_size = 2
indent_style = space
